#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#cherry_pic {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}

#tartsweet_text {
    position: absolute;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    bottom:60px;
    letter-spacing: 5px;
}

#msg1 {
    position: relative;
    font-size: 200px;
    letter-spacing: 22px;
    bottom: 60px;
}

#cherries_text {
    position: relative;
    font-size: 55px;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: lightgrey;
}

#cherry_text {
    position: relative;
    top: 500px;
    color: darkred;
    left: 175px;
    letter-spacing: 15px;
    font-size: 70px;
}

