body {
    text-align: center;
}

h1, a {
    color: steelblue;
}

#emphasis{
    color:red;
}

#active {
    background-color: steelblue;
    color:white;
}

.room{
    border: 1px solid pink;
}

img {
    width: 300px;
    margin: 0 auto;
    display: block;
}

p{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.5em;
}

nav a {
    text-decoration:none;
}

nav a:hover {
    color:purple;
}