* {
    padding: 0;
    margin: 0;

}
body {
    text-align: center;
    background-color: lightcyan;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

nav {
    text-align: center;
    padding: 15px;
}

nav a {
    text-decoration:none;
    padding: 10px;
    background-color: lightseagreen;
    margin: 5px;
    color: white;
}

h1 {
    text-align: center;
    margin: 30px;
}

h1, a {
    color: darkcyan;
}

div {
    text-align: left;
}

img {
    width: 300px;
    margin: 0 auto;
    display: block;
}

p{
    text-align: center;
    width: 650px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.5em;
    color: darkblue;
}

nav a:hover {
    color: darkblue;
}